{% extends 'base_challenges.html' %}


{% block head %}

<style>
    .book-list {
        position:relative;
        width:100%;

    }
    .book-list:after {
        content:"";
        display:block;
        padding-bottom:158%;

    }
    .list {
        width:33%;
        float:left;

    }
</style>

{% endblock head %}


{% block content %}

<div style="width:100%; max-width:850px; margin:10px auto; min-height:400px; padding:15px; padding-bottom:100px;" class="w3-white border-all">
	<div class="text-center"><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="location.href='create/'" style="margin-bottom: 0px; margin-top: 15px; width: 95%;"><i class="fas fa-plus" style="margin-right: 5px" aria-hidden="true"></i>Create a challenge</button></div>
    <div id="book-list">
    	<h4 style="margin:0 auto; width:237px; margin-top: 10px;" ><b>Available Challenges</b></h3>
        {% include "challenges/challenges.html" %}
    </div>
</div>

{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
		        if(data == '')
		        {
		            empty_page = true;
		        }
		        else {
                    block_request = false;
                    $('#book-list').append(data);
    	        }
            });
    	}
    });
    $('button.join').click(function(e){
		e.preventDefault();
		var div = $(this).closest("div");
		$.post('{% url "join_challenge" %}',
			{
				id: $(this).data('id'),
				action: $(this).data('action')
			},
			function(data){
				if (data['status'] == 'ok') {
					var previous_action = $('button.join', div).data('action');
					// toggle data-action
					$('button.join', div).data('action',
					previous_action == 'join' ? 'unjoin' : 'join');
					// toggle link text
					$('button.join', div).text(
					previous_action == 'join' ? 'Remove' : 'Join');
					// update total followers
					var previous_joiners = parseInt(
					$('span.count .total', div).text());
					$('span.count .total', div).text(previous_action == 'join' ?
					previous_joiners + 1 : previous_joiners - 1);
					if (previous_action == 'join') {
						$('button.join', div).removeClass('custom-green');
						$('button.join', div).addClass('custom-red');
					}
          			else {
						$('button.join', div).removeClass('custom-red');
						$('button.join', div).addClass('custom-green');
					}

				}
			}
		);
	});
{% endblock %}